@charset "UTF-8";

/*---Reset---*/
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}

html {
}

body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

/*クラス定義*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	display: inline-table;
}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
*+html .clearfix{min-height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
/*--- ページ基本デザイン ---*/
#medical_records_sec1{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 40px;
}
#medical_records_title{
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 0 0 20px 0;
	border-bottom: 5px dotted skyblue;
}
#medical_records_title p{
	font-size: 1.5em;
	font-weight: bold;
}
#medical_records_menu{
	padding: 40px;
	border: 7px outset skyblue;
	border-radius: 3em;
	box-shadow:
	0 1.9px 2.5px rgba(0, 0, 0, 0.057),
	0 5px 6.1px rgba(0, 0, 0, 0.076),
	0 10.1px 11.4px rgba(0, 0, 0, 0.086),
	0 19.2px 19.8px rgba(0, 0, 0, 0.092);
	background-image: url("../img/m.jpg");
	background-color:rgba(255,255,255,0.8);
	background-blend-mode:lighten;
}
#medical_records_contents{
	display: flex;
	justify-content: space-around;
}
#medical_records_slider {
}
.slider {
	max-width: 1000px;
	border: 5px solid skyblue;
	/* display: flex; */
}
.slick-item img{
}
.medical_img {
	width: 50%;
	margin: 0 auto;
	border: 1px dotted skyblue;
}
